@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
$fa-font-path: '/static/fonts';
@import '../../bower_components/font-awesome/scss/font-awesome.scss';
@import 'colors';

@import '../sprint/styles/sprint';

html {
  min-width: 320px;
  background-color: $background;
}

body {
  padding-top: 50px;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  color: $body-text-color;
}

.header {
  position:absolute;
  top:0;
  left: 0;
  width:100%;
  height: 50px;
  background-color: $header;
}

.view-container {
  padding-top: 0px;
  background-color: $background;

  .title {
    text-align: center;
    margin-top: 10px;
  }

  .option-block {
    display: block;
    height: 200px;
    text-align: center;

    a {
      text-decoration: none;
      color: $body-text-color;
      z-index: 9999999;
    }

    i {
      display: block;
      font-size: 90px;
      color: $header;
    }

    span {
      display: block;
      font-size: 20px;
    }
  }

  .login-box {
    text-align: center;
    margin-top: 25px;

    .login_form {
      border: thin;
      box-shadow: #003300;
      background: white;
      padding: 15px 25px;

      .login-title {
        margin-top: 15px;
        margin-bottom: 25px;
        height: 50px;

        span {
          float: left;
        }
      }

      .form-group {
        margin-bottom: 25px;

        input {
          padding: 0 5px;
          margin-left: 10px;
          height: 30px;
        }
      }
    }
  }
}
