.container
  .title
    h1 {{ title }}

  .col-sm-3
    .option-block(ui-sref="sprint.staffing")
      i.fa.fa-calendar
      span Staffing

  .col-sm-3
    .option-block
      i.fa.fa-clock-o
      span Status

  .col-sm-3
    .option-block
      i.fa.fa-list-ul
      span Issues

  .col-sm-3
    .option-block(ui-sref="sprint.team")
      i.fa.fa-group
      span Team Members
